<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@drawable/ic_launcher"
        tools:replace="android:icon">
        <activity
            android:name="com.gsm.testflavors.TestActivity"
            android:exported="false"

            />
    </application>
</manifest>